body{
	font-family: Georgia, serif;
	font-size: 16px;
	font-style: italic;
	font-weight: normal;
	letter-spacing: normal;
    background: #f0f0f0;
}
.div-h{
height: 70px;
background: #21232f !important;
color: #fff;
}

.div-style1{
	width:9%;
	height:40px;
	float: left;
	margin-top: 25px;
	/*border:1px solid #FF6699;*/
}

.div-style1 img{
	height: 60%;
	width:13px;
	margin:8px 5px;

}

.div-style2{
	width:78%;
	height:40px;
	float: left;
	text-align:center;
	margin-top: 25px;
	/*border:1px solid #FF6699;*/
}

.div-style2 span{
	margin:5px 0px;
	display: inline-block;/**/
	font-size: 20px;
}
.div-style2 img{
	width:15px;
	height:12px;
}
.div-style3{
	width:12%;
	height:40px;
	float: left;
	margin-top: 25px;
	/*border:1px solid #FF6699;*/
	text-align:right;
}
.div-style3 img{
	width:25px;
	height:25px;
	margin-top:8px;
	margin-right:5px;
}
.div-style3 div{
	height:20px;
	font-size:8pt;
	margin-right: 1px;
}
